[Unit]
Description=Syncthing
After=wg-quick@wg0.service

[Service]
ExecStart=/usr/bin/syncthing -gui-address=0.0.0.0:8384 -home /var/lib/syncthing
Restart=on-failure

[Install]
WantedBy=default.target
