global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'severity']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'discord-webhook'
  routes:
    - match:
        severity: critical
      receiver: 'discord-critical'
    - match:
        severity: warning
      receiver: 'discord-webhook'

receivers:
  - name: 'discord-webhook'
    webhook_configs:
      - url: '${DISCORD_ALERTS_WEBHOOK}'
        send_resolved: true

  - name: 'discord-critical'
    webhook_configs:
      - url: '${DISCORD_ALERTS_WEBHOOK}'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname']
