apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: snhu-email-data
  namespace: default
  labels:
    app: analyzer
    component: snhu-ecosystem-tracker
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
