apiVersion: v1
kind: Service
metadata:
  name: snhu-analyzer
  namespace: default
  labels:
    app: analyzer
    component: snhu-ecosystem-tracker
spec:
  type: LoadBalancer
  selector:
    app: analyzer
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  sessionAffinity: ClientIP
