# Grafana Datasource Provisioning for Strategickhaos Monitoring Stack
apiVersion: 1

datasources:
  # Prometheus for metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      prometheusVersion: 2.55.0
      cacheLevel: 'High'
      incrementalQuerying: true
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: jaeger

  # Loki for logs  
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: "TraceID"
          matcherRegex: "trace_id=([\\w]+)"
          url: "$${__value.raw}"
          datasourceUid: jaeger

  # Jaeger for tracing
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
    uid: jaeger
    jsonData:
      tracesToLogsV2:
        datasourceUid: 'loki'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: ['job', 'instance', 'pod', 'namespace']
        filterByTraceID: false
        filterBySpanID: false
        customQuery: true
        query: 'method="${__span.tags.method}"'
      tracesToMetrics:
        datasourceUid: 'prometheus'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: [{ key: 'service.name', value: 'service' }, { key: 'job' }]
        queries:
          - name: 'Sample query'
            query: 'sum(rate(traces_spanmetrics_latency_bucket{$${__tags}}[5m]))'
      nodeGraph:
        enabled: true
      search:
        hide: false
      spanBar:
        type: 'Tag'
        tag: 'http.path'

  # Grafana Cloud Prometheus
  - name: Grafana Cloud - me1010101
    type: prometheus
    access: proxy
    url: https://prometheus-prod-56-prod-us-east-2.grafana.net/api/prom
    editable: true
    basicAuth: true
    basicAuthUser: 2786173
    secureJsonData:
      basicAuthPassword: ${GRAFANA_CLOUD_API_TOKEN}
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      cacheLevel: 'High'
      incrementalQuerying: true