{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "strategickhaos-swarm.serviceAccountName" . }}
  labels:
    {{- include "strategickhaos-swarm.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "strategickhaos-swarm.fullname" . }}
  labels:
    {{- include "strategickhaos-swarm.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["configmaps", "secrets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "strategickhaos-swarm.fullname" . }}
  labels:
    {{- include "strategickhaos-swarm.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "strategickhaos-swarm.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "strategickhaos-swarm.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
